<!doctype html>

<html ng-app="app" xmlns:th="http://www.w3.org/1999/xhtml">
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class = "container" ng-controller="indexController">
    <h1>Market</h1>
    {{productList}}

    <h3>Список товаров</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Id</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        <tbody>

    <tr ng-repeat="p in products">
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="addToCart(p.id)">Добавить в корзину</button>

        </td>
    </tr>
    </table>
    </tbody>
    <h3>Корзина</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Id</td>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        <tbody>

        <tr ng-repeat="item in cart.items">
            <td>{{item.productId}}</td>
            <td>{{item.productTitle}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity ' = ' + item.price}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changeQuantityInCart(item.quantity, -1)">-</button>
                {{item.quantity}}
                <button class="btn btn-primary" ng-click="changeQuantityInCart(item.quantity, 1)">+</button>
                <p></p>
                <button type="button" class="btn btn-danger" ng-click="clear">Очистить</button>
                <p></p>
                <button type="button" class="btn btn-danger" ng-click="deleteProductsById(item.productId)">Удалить</button>
                <p></p>
                <button type="button" class="btn btn-primary" ng-click="createOrder">Оформить заказ</button>
            </td>
        </tr>
        <tr>
            <td>Итого</td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
        </tr>
    </table>
    </tbody>

</div>
</body>
</html>

<!--    <p></p>-->
<!--    <h3>Добавить продукт через Json</h3>-->
<!--    <form novalidate ng-submit="addProduct()">-->
<!--        <input class="form-control" type="number" hidden placeholder="ID" ng-model="newProductJson.id">-->
<!--        <p></p>-->
<!--        <input class="form-control" type="text" placeholder="Название" ng-model="newProductJson.title">-->
<!--        <p></p>-->
<!--        <input class="form-control" type="number" placeholder="Цена" ng-model="newProductJson.price">-->
<!--        <p></p>-->
<!--        <button type="submit" class="btn btn_primary">Сохранить изменения</button>-->
<!--    </form>-->


<!--    <form novalidate ng-submit="fillTable()">-->
<!--        <div class="form-group row">-->
<!--            <div class="form-group col-md-3">-->
<!--                <label for="filterMinPrice">Minimal price</label>-->
<!--                <input class="form-control" type="number" id="filterMinPrice" ng-model="filter.min_price">-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--                <label for="filterMaxPrice">Maximum price</label>-->
<!--                <input class="form-control" type="number" id="filterMaxPrice" ng-model="filter.max_price">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <button class="btn btn-success" type="submit">Apply</button>-->
<!--        </div>-->
<!--    </form>-->
<!--    <tbody>-->
<!--    <tr th:each="prod: ${allProducts}">-->
<!--        <td th:text="${prod.name}">Oranges</td>-->
<!--        <td th:text="${#numbers.formatDecimal(prod.price, 1, 2)}">0.99</td>-->
<!--    </tr>-->
<!--    </tbody>-->

<!--            <td>Номер страницы</td>-->
<!--            <td>-->
<!--                <input class="form-control" type="number" placeholder="страница" ng-model="page">-->
<!--            </td>-->
<!--        </table>-->
<!--    </form>-->
<!--</table>-->
<!--&lt;!&ndash;Modal&ndash;&gt;-->
<!--<div>-->

<!--</div>-->
<!--</body>-->

<!--</html>-->
