<!doctype html>

<html ng-app="market" xmlns:th="http://www.w3.org/1999/xhtml">
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

</head>

<body>

<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="#!/">Spring Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/store">Каталог товаров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/cart">Корзина</a>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()">
                    <a class="nav-link" href="#!/orders">Мои заказы</a>
                </li>

                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group sm" style="...">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                            aria-describedby="inputGroup-sizing-sm" style="...">

                            <input id="navPasswordField"class="form-control" ng-model="user.username" type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="...">

                            <button id="navLoginSubmit" class="btn btn-outline-warming btn-sm" style="..."
                                    type="submit">Войти</button>
                        </div>
                    </form>
                </li>
                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <a class="nav-link" href="!/registration">Регистрация</a>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()" style="...">
                    <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>
                </li>
            </ul>
        </div>
    </nav>

    <ng-view></ng-view>
    <script> src="index.js"</script>
    <script> src="store/store.js"</script>
    <script> src="cart/cart.js"</script>
    <script> src="orders/orders.js"</script>
    <script> src="welcome/welcome.js"</script>
    <script> src="registration/registration.js"</script>

</div>
</body>
</html>

<!--    <p></p>-->
<!--    <h3>Добавить продукт через Json</h3>-->
<!--    <form novalidate ng-submit="addProduct()">-->
<!--        <input class="form-control" type="number" hidden placeholder="ID" ng-model="newProductJson.id">-->
<!--        <p></p>-->
<!--        <input class="form-control" type="text" placeholder="Название" ng-model="newProductJson.title">-->
<!--        <p></p>-->
<!--        <input class="form-control" type="number" placeholder="Цена" ng-model="newProductJson.price">-->
<!--        <p></p>-->
<!--        <button type="submit" class="btn btn_primary">Сохранить изменения</button>-->
<!--    </form>-->


<!--    <form novalidate ng-submit="fillTable()">-->
<!--        <div class="form-group row">-->
<!--            <div class="form-group col-md-3">-->
<!--                <label for="filterMinPrice">Minimal price</label>-->
<!--                <input class="form-control" type="number" id="filterMinPrice" ng-model="filter.min_price">-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--                <label for="filterMaxPrice">Maximum price</label>-->
<!--                <input class="form-control" type="number" id="filterMaxPrice" ng-model="filter.max_price">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <button class="btn btn-success" type="submit">Apply</button>-->
<!--        </div>-->
<!--    </form>-->
<!--    <tbody>-->
<!--    <tr th:each="prod: ${allProducts}">-->
<!--        <td th:text="${prod.name}">Oranges</td>-->
<!--        <td th:text="${#numbers.formatDecimal(prod.price, 1, 2)}">0.99</td>-->
<!--    </tr>-->
<!--    </tbody>-->

<!--            <td>Номер страницы</td>-->
<!--            <td>-->
<!--                <input class="form-control" type="number" placeholder="страница" ng-model="page">-->
<!--            </td>-->
<!--        </table>-->
<!--    </form>-->
<!--</table>-->
<!--&lt;!&ndash;Modal&ndash;&gt;-->
<!--<div>-->

<!--</div>-->
<!--</body>-->

<!--</html>-->
